HELP.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
XJmAb2r5mKMXSv8LQ5AvQj6T3tbiponmC6Psd0f2anwCMvAj8EHlCyU6v6HMECAvwHWquiiiuNiaAlQranmX3VMoipdb2bfdcoYssfAOtwdn1cXu8d4WUbPkkit364YK